<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<typeAliases>-->
        <!--&lt;!&ndash;POJO 类的所在package，默认类名为其Alias&ndash;&gt;-->
        <!--<package name="demo.model"/>-->
    <!--</typeAliases>-->
    <!--若spring中已经设置了对应的映射文件所在文件夹，则这里不需要重复设置，否则会引起异常-->
    <mappers>
        <!--映射文件所在的地方-->
        <mapper resource="mapper/UserMapper.xml" />
    </mappers>
</configuration>
